.edit-room td, .edit-room th {
    margin: 1em;
    border: 0.5em solid #282c34;
}

.edit-room table {
    border-collapse: collapse;
}

.edit-room .summary .weekday .time {
    margin: 0.8em;
}

.edit-room .timeslot {
    border: 1px solid gray;
    border-radius: 1em;
}

.edit-room .timeslot .weekday {
    display: inline-block;
    margin: 0.5em;
}

.edit-room .timeslot .time {
    margin: 0.5em;
}
